@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --heading-secondary: #d0ccc4;
  --first-name-color: #ffffff;
  --last-name-color: linear-gradient(#70D9D6, #0651A6);
  --gps-gradient: linear-gradient(#439FC1, #1D6FB0);
  --blue-primary: #70D9D6;
  --blue-secondary: #0651A6;
  --blue-icon: #2E85B8;
  --white-primary: #ffffff;
  --white-secondary: #CDCDCD;
  --white-socials: #D6E0DC;
  --white-socials-border: #393E41;
  --border-white-button: #EDEBE8;
  --border-radius-icon: 0.5rem;
  --border-radius-button: 0.5rem;
  --button-background-primary: #090A4B;
  --blue-profile-shadow: rgba(7, 107, 221, 0.07);
}

* {
  font-family: Inter;
}
html{
  background-color: #0D0F16;
}

.landing-main {
  height: calc(100vh + 4rem);
  position: relative;
  background:
    linear-gradient(#0D0F16, #0E1324);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.landing-area {
  max-width: 90vw;
  margin: 0 auto;
  padding-left: 6%;
  background: url('/public/images/darkblue_ellipse.svg') no-repeat center/ 500px 500px;
  background-repeat: no-repeat;
  background-position: 6% 0%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chevron {
  align-self: center;
  font-size: 2.5rem;
  color: var(--white-primary);
  margin-top: 4rem;
}

/*
* ========
* LeftSide 
* ========
*/

.introduction-title {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--heading-secondary);
  letter-spacing: 0.1rem;
}

.name {
  font-size: 6rem;
}

.first-name {
  display: block;
  color: var(--white-primary);
  text-transform: capitalize;
}

.last-name {
  display: block;
  background: var(--last-name-color);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

.gps {
  background: var(--gps-gradient);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.location>span {
  text-transform: capitalize;
  color: var(--white-primary);
}

.location {
  margin-bottom: 1.25rem;
}

.skill-list {
  text-decoration: none;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  width: 50rem;

}

.skill {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.skill>span {
  display: block;
  color: var(--white-secondary);
}

.icon-border>i {
  color: var(--blue-icon);
  font-size: 1.5rem;
}

.icon-border {
  padding: 0.75rem;
  border-radius: var(--border-radius-icon);
  border: 0.1rem solid var(--white-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-description {
  color: var(--white-secondary);
  line-height: 1.5;
  width: 35rem;
  margin-block: 1rem;
}

.landing-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--border-radius-button);
  color: var(--border-white-button);
  text-transform: capitalize;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.btn {
  transition: 200ms ease-in;
  background: none;
}

.contact-btn {
  border: 2px solid rgba(255, 255, 255, 1)
}

.project-btn {
  background: rgb(14, 18, 80, 1);
  border: 2px solid rgba(255, 255, 255, 1);
}


.btn:hover {
  cursor: pointer;
}

.project-btn:hover {
  background: rgba(9, 10, 75, 1);
  border: 2px solid rgba(255, 255, 255, 0);
}

.contact-btn:hover {
  background: rgba(9, 10, 75, 1);
  border: 2px solid rgba(255, 255, 255, 0)
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.profile-img {
  width: 23rem;
  height: 23rem;
  background-color: grey;
  border-radius: 50%;
  background: url('/public/images/Rayan_Nejara.jpg') no-repeat center;
  background-size: 25rem;
  background-position: 0 35%;
  box-shadow: -5px 10px 10px var(--blue-profile-shadow);
}

.socials-list {
  display: flex;
  gap: 1.2rem;
  list-style-type: none;
}

.socials {
  font-size: 1.5rem;
  color: var(--white-socials);
  border: 2px solid var(--white-socials-border);
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.socials:hover {
  background-color: rgba(14, 19, 35, 1);
}
