@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

.upcomming-main {
  background: linear-gradient(#111827, #181442);
  /* background-color: ; */
  padding-block: 6rem;
}

.upcomming-section {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcomming-heading {
  text-transform: uppercase;
  color: #3B96BE;
  font-weight: 600;
  font-size: 1.6rem;
}

.upcomming-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  margin-block: 0.4rem;
}

.upcomming-description {
  color: #9CA3AF;
  font-weight: 400;
  font-size: 1.4rem;
  width: 700px;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.upcomming-img img {
  width: 750px;
  border-radius: 2rem;
  box-shadow: -2px 2px 2px #580fc1;
}

.boardle-button {
  background-color: #5B0FC1;
  border: none;
  padding: 0.75rem 2.5rem;
  color: #fff;
  border-radius: 13px;
  margin-top: 3rem;
  box-shadow: -4px 4px 0px #1C1C1C;
}

.mehr {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: "Jersey 20", sans-serif;
}

.zu {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Jersey 20", sans-serif;
  word-spacing: 2px;
}

.disabled-btn {
  color: #777373;
  background-color: #35323A;
}
.wip-text{
color: gray;
  font-size: 0.6rem;
  margin-top: 0.6rem;
}

@media screen and (max-width:900px) {
  .upcomming-img img {
    width: 550px;
  }
}

@media screen and (max-width: 767px){
  .upcomming-description{
    width: 460px;
  }
  .upcomming-img img {
    width: 450px;
  }
}

@media screen and (max-width: 520px){
  .upcomming-description{
    width: 360px;
  }
  .upcomming-img img {
    width: 350px;
  }
}
