.selected-projects-area {
  margin: 0 auto;
  width: 80vw;
  max-width: 1920px;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-bottom: 6rem;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #030712;
  padding: 2rem;
  border-radius: 10px;
  filter: drop-shadow(-5px 0px 10px rgba(58, 80, 194, 0.25));
  width: 25rem;
}

.card-title>h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.card-line {
  width: 6rem;
  height: 5px;
  background-color: #fff;
  margin-block: 0.5rem;
  margin-bottom: 1rem;
}

.technology-list {
  display: flex;
  gap: 0.5rem;
}

.technology {
  background-color: #fff;
  padding: 1px 8px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
}

.card-description {
  color: #FFFFE0;
  margin-block: 2rem;
  font-weight: 400;
  min-height: 13rem;
  font-size: 1.5rem;
}

.card-button {
  padding: 0.4rem 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #1666AD;
  color: #fff;
  font-weight: 600;
  word-spacing: 0.2rem;
  font-size: 1rem;
}

.card-heading {
  color: #3B96BE;
  text-transform: uppercase;
}

.card-type-heading {
  color: #fff;
  text-transform: capitalize;
}

.description-heading {
  color: #fff;
  color: #9CA3AF
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.title {
  text-align: center;
  margin-block: 6rem;
}
