.selected-projects-main {
  /*background-color: #111827;*/
  min-height: 100vh;
}


.selected-projects-area {
  margin: 0 auto;
  width: 80vw;
  max-width: 1920px;
  height: 100vh;
}

.card-section {
  background-color: green;
}

.card {
  width: 12rem;
  height: 12rem;
  background-color: #030712;
}
